<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start start">
  <div class="flex-item" fxFlex="10%"></div>
  <div class="flex-item" fxFlex="30%">
    <md-card>
      <h1>Services</h1>
      <pie-chart [system]="'service'"></pie-chart>
    </md-card>
  </div>
  <div class="flex-item" fxFlex="10%"></div>
  <div class="flex-item" fxFlex="30%">
    <md-card>
      <h1>Diims</h1>
      <pie-chart [system]="'diims'"></pie-chart>
    </md-card>
  </div>
  <div class="flex-item" fxFlex="10%"></div>
</div>
<br/>
<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start start">
  <div class="flex-item" fxFlex="10%"></div>
  <div class="flex-item" fxFlex="30%">
    <md-card>
      <h1>Dealings</h1>
      <pie-chart [system]="'dealing'"></pie-chart>
    </md-card>
  </div>
  <div class="flex-item" fxFlex="10%"></div>
  <div class="flex-item" fxFlex="30%">
    <md-card>
      <h1>Plans</h1>
      <pie-chart [system]="'plan'"></pie-chart>
    </md-card>
  </div>
  <div class="flex-item" fxFlex="10%"></div>
</div>
